<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cskeppstedt.jirabrowseticket</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Christoffer Skeppstedt</string>
	<key>description</key>
	<string>Enter your JIRA ticket to open the full URL in your browser.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira browse ticket</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
