<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cskeppstedt.jirabrowseticket</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>DFCC2B44-B93C-4199-B0F0-933ADBC8DB4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AFD40AB-F4BA-4F42-A4D9-3BE458317E95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoffer Skeppstedt</string>
	<key>description</key>
	<string>Enter your JIRA ticket to open the full URL in your browser.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira browse ticket</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5AFD40AB-F4BA-4F42-A4D9-3BE458317E95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python workflow/jira.py {query}</string>
				<key>subtext</key>
				<string>Enter ticket ID with or without project prefix, e.g. PROJ-12345</string>
				<key>title</key>
				<string>Browse JIRA ticket</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFCC2B44-B93C-4199-B0F0-933ADBC8DB4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5AFD40AB-F4BA-4F42-A4D9-3BE458317E95</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DFCC2B44-B93C-4199-B0F0-933ADBC8DB4A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
